<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis/db.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <!--        <typeAlias alias="User" type="DataturksUser" />-->
        <!--    <typeAliases>标签内指定的是你定义的实体类的别名，方便之后使用。-->
    </typeAliases>

    <environments default="aix">
        <environment id="aix">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="${db.mysql.aix.url}" />
                <property name="username" value="${db.mysql.aix.user}" />
                <property name="password" value="${db.mysql.aix.password}" />
                <property name="poolMaximumActiveConnections" value="1000"/>
                <property name="poolMaximumIdleConnections" value="1000"/>
                <!-- 每隔7小时检查一下连接是否还有效 -->
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
                <property name="poolPingConnectionsNotUsedFor" value="25200000"/>
            </dataSource>
        </environment>
    </environments>


</configuration>
